<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-5">
            <h1 class="mb-4">New Note</h1>
            <form method="post" action="/submit-note">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <textarea class="form-control" id="descriptionInput" name="description" rows="4" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="quizKeywordInput" class="form-label">Quiz Keyword</label>
                    <input type="text" class="form-control" id="quizKeywordInput" name="quizKeyword" aria-describedby="quizKeywordHelp" required>
                    <div id="quizKeywordHelp" class="form-text">Must be a word or number used within the description.</div>
                </div>
                <div class="mb-3">
                    <label for="referenceInput" class="form-label">Reference URL</label>
                    <input type="url" class="form-control" id="referenceInput" name="referenceUrl">
                </div>
                <div class="mb-3">
                    <label for="categorySelection" class="form-label">Categories</label>
                    <% if (locals.categories) { %>
                    <select class="form-select" id="categorySelection" name="categories" size="<%= categories.length %>" multiple aria-label="Select multiple categories." aria-describedby="categoriesHelp" required>
                        <% categories.forEach(c => { %>
                        <option value="<%= c.id %>"><%= c.title %></option>
                        <% }); %>
                    </select>
                    <div id="categoriesHelp" class="form-text">For windows: Hold down the control (ctrl) button to select multiple options. For Mac: Hold down the command button to select multiple options.</div>
                    <% } %>
                </div>
                <a href="/" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
window.onload = function() {
    document.getElementById("titleInput").focus();
}
</script>

<%- include('partials/footer.ejs') %>