<%- include('partials/header.ejs') %>

<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <a class="btn btn-primary" href="/add-category" type="button">Add Category</a>
    </div>
    <h1 class="mb-4">Categories</h1>
    <% if (locals.categories && categories.length) { %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <% categories.forEach(c => { %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/delete-category">
                        <input type="hidden" name="categoryId" value="<%= c.id %>">
                        <div class="float-start">
                            <a href="/category/<%= c.id %>" class="btn btn-lg btn-link"><%= c.title %></a>
                        </div>
                        <div class="float-end">
                            <a href="/edit-category/<%= c.id %>" aria-label="Edit" title="Edit <%= c.title %> category" class="btn btn-lg btn-link"><i class="bi bi-pencil-square"></i></a>
                            <button type="submit" aria-label="Delete" title="Delete <%= c.title %> category" class="btn btn-lg btn-link link-danger"><i class="bi bi-trash-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>No categories at this time. Create one with that big button above.</p>
    <% } %>
</div>
    
<%- include('partials/footer.ejs') %>