<%- include('partials/header.ejs') %>

<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <a class="btn btn-primary" href="/add-note">Add Note</a>
    </div>

    <% if (locals.title) { %>
    <h1 class="mb-4"><%= title %> Notes</h1>
    <% } else { %>
    <h1 class="mb-4">Category Notes</h1>
    <% } %>

    <% if (locals.notes && notes.length) { %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <% notes.forEach(n => { %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/delete-note">
                        <input type="hidden" name="noteId" value="<%= n.note_id %>">
                        <h5 class="card-title"><%= n.title %></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><%= n.created_date.toDateString() %></h6>
                        <p class="card-text"><%= n.description %></p>
                        <div class="float-end">
                            <% if (n.reference_url) { %>
                                <a href="<%= n.reference_url %>" title="External Reference for <%= n.title %>" class="btn btn-lg btn-link link-secondary" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                            <% } %>
                            <a href="/edit-note/<%= n.note_id %>" title="Edit note" class="btn btn-lg btn-link"><i class="bi bi-pencil-square"></i></a>
                            <button type="submit" aria-label="Delete" title="Delete note" class="btn btn-lg btn-link link-danger"><i class="bi bi-trash-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>No notes for this category at this time. Create one with that big button above.</p>
    <% } %>
</div>
    
<%- include('partials/footer.ejs') %>