<%- include('partials/header.ejs') %>

<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <a class="btn btn-primary" href="/add-quiz" type="button">Add Quiz</a>
    </div>
    <h1 class="mb-4">Quizzes</h1>
    <% if (locals.quizzes && quizzes.length) { %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <% quizzes.forEach(q => { %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/delete-quiz">
                        <input type="hidden" name="quizId" value="<%= q.id %>">
                        <div class="float-start">
                            <a href="/quiz/<%= q.id %>" class="btn btn-lg btn-link"><%= q.title %></a>
                        </div>
                        <div class="float-end">
                            <a href="/edit-quiz/<%= q.id %>" aria-label="Edit" title="Edit <%= q.title %> quiz" class="btn btn-lg btn-link"><i class="bi bi-pencil-square"></i></a>
                            <button type="submit" aria-label="Delete" title="Delete <%= q.title %> quiz" class="btn btn-lg btn-link link-danger"><i class="bi bi-trash-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>No quizzes at this time. Create one with that big button above.</p>
    <% } %>
</div>
    
<%- include('partials/footer.ejs') %>